/* | Poppins */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* | Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* | CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
   display: block !important;
   max-width: 100% !important;
   height: auto !important;
}

/* | Utility Classes */

.offscreen {
    position: absolute;
    left: -10000px;
    color: aqua;
    font-size: 0.5rem !important;
}

.nowrap {
    white-space: nowrap;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.pad {
    padding: 0 1.25rem;
}

.hide {
    display: none;
}

.text_center {
    text-align: center;
}

.wave {
    background-color: hsl(207, 100%, 98%);
}

.wave_background {
    background-color: #fff;
    width: 100%;
}

.wave_background img {
    width: 100%;
}

/* | General Styles */

body {
    font-family: "Open Sans", sans-serif;
    width: min(100%, 481px);
    min-height: 100vh;
    padding: 0.75rem 0 0;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12vh;

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15vh;
}

h1, h2, h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
}

form {
    font-size: inherit;
}

footer {
    /* background-color: hsl(192, 100%, 9%); */
}

.nav_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: burlywood; */
    padding: 0.5rem 0;
}

.logo_link {
    width: 40%;
}

.logo {
    width: 100%;
    height: auto;
}

.nav_link {
    font-size: 0.6rem;
    color: hsl(322, 100%, 66%);
    text-decoration: none;
    border: 1px solid hsl(322, 100%, 66%);
    padding: 0.5em 1.1em;
    border-radius: 1em;
}

.header_container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1 {
    width: min(100%);
    font-size: 1.5rem;
    /* text-align: center; */
    margin-bottom: 1.2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
}

.h_content {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 2rem;
}

.h_link {
    font-size: 0.85rem;
    font-weight: 600;
    background-color: hsl(322, 100%, 66%);
    padding: 0.5rem 1.8em;
    border-radius: 2em;
    margin-bottom: 4rem;

    letter-spacing: 0.01em;
}

.h_link a {
    color: white;
    text-decoration: none;
}

.screen_mokups_figure {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen_mokups_image {
    width: min(80%, 481px);
}


.communities_messages_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    /* background-color: burlywood; */
}

.communities_messages_box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.communities_messages_box :nth-child(2) {
    font-weight: 700;
    font-size: 3.8rem;
}
.box_item {
    width: 100%;
}
.box_item1:first-child {
    align-self: flex-start;
    padding-left: 3.75rem;
}
.box_item1:not(:first-child) {
    /* align-self: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.gray_text {
    color: hsl(0, 0%, 69%);
    font-size: 1rem;
    font-weight: 500;
    /* background-color: black; */
}

.illustration_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20vh;
}

.illustration_container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 5em;
}

.illustration_image {
    width: 75%;
    height: auto;
    margin: 0 auto;
}

.illustration_content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
}

.illustration_content p {
    font-size: 0.9rem;
}

.build_community_get_started {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.build_community_get_started h3 {
    text-align: center;
}

.page_footer {
    display: flex;
    flex-direction: column;
    gap: -2rem;
}

.page_footer a {
    text-decoration: none;
    color: white;
}

/* ! Removed the footer wave as background image. */
/* .bg-footer-top {
    width: 100% !important;
    background-image: url('../images/bg-footer-top-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 10vh;
    margin-top: -3.5rem;
} */

.footer_content_container {
    width: 100%;
    background-color: hsl(192, 100%, 9%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    margin-top: -0.1rem;
}

.footer_content_container section {
    width: 100%;
}

.social_media_contacts {
    width: 100%;
}

.news_letter_container {
    display: flex;
    flex-direction: column;
    gap: 1.35rem;
}

.news_letter_container h3 {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.news_letter_container p {
    font-size: 0.74rem;
    font-weight: 500;
    line-height: 1.3rem;
    letter-spacing: 0.01rem;
}

.news_letter_container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.newsletter_input_box, .newsletter_button_box {
    width: 100%;
}

.newsletter_input_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
}

.newsletter_button_box {
    display: flex;
    justify-content: flex-end;
}

.news_letter_container input {
    width: 100%;
    padding: 0.65em 0.5em;
    border-radius: 0.3rem;
    border: none;
}
.news_letter_container input::placeholder {
    color: white;
}

.news_letter_container span {
    font-size: 0.5rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: hsl(0, 100%, 63%);
}

.news_letter_container button {
    width: 50%;
    padding: 0.7rem 2rem;
    border-radius: 0.3rem;
    color: #fff;
    background-color: hsl(322, 100%, 66%);
    font-weight: 600;
    font-family: inherit;
    border: none;
}

.lower_footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 0.9rem;
}

.lower_footer section:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lower_footer section:nth-child(1) img {
    width: 60%;
}

.lower_footer section:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contacts_info {
    display: flex;
    gap: 1rem;
}

.lower_footer section:nth-child(3) {

}

.social_media_info {
    display: flex;
    gap: 1rem;
    font-size: 1.25rem;
}

/* .phone_and_email_icons {
    background-color: hsl(192, 100%, 9%);
    padding: 1rem;
} */